fint:
  org-id: ''
  application-id: fint-kontroll-user-factory
  cache:
    defaultCacheEntryTimeToLiveMillis: 518400000
    defaultCacheHeapSize: 1000000
  kafka:
    topic:
      org-id: ${fint.org-id}
      domain-context: kontroll
    application-id: ${fint.application-id}
    default-replicas: 1
  kontroll:
    user:
      publishing:
        initial-delay: 20000
        initial-delay-elev: 30000
        fixed-delay: 3600000
      days-before-start-employee: 10
      days-before-start-student: 5
spring:
  kafka:
    consumer:
      group-id: ${fint.application-id}
  profiles:
    include:
      - observability
logging:
  level:
    root: INFO
    org.apache.kafka: INFO
    no.fintlabs.cache.ehcache.FintEhCacheEventLogger: WARN